{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>All tasks completed</title>
  <link rel="stylesheet" href="{% static 'ca_practice/style.css' %}?v=3">
</head>
<body>
  <div class="container">
    <div class="header">
      <h1>Congrats, you have finished all the tasks!</h1>
    </div>
    <div class="panel">
    <p>Thank you for using the tool! Please go back to the main survey page to finish the study! You can now close this page.</p>
    </div>
  </div>
</body>
</html>
